<div style="background: white;padding-bottom: 6%;height: 10vh">
  <div style="padding-top: 5vh" class="col-sm-12 row">
    <div class="col-sm-3"></div>
    <div style="text-align: center" class="col-sm-6">
      <h2 style="color: red; text-shadow: 1.25px 1.25px 1.25px #111;">
        {{ header }}
      </h2>
    </div>
    <div
      style="font-weight: bold; text-shadow: 1px 1px 1px rgba(160, 160, 160, 0.2);"
      class="col-sm-3"
    >
      {{ date | date: "dd-MMM-yyyy hh:mm" }}
    </div>
  </div>
</div>
<hr style="margin: 0px" />
