.cylinder {
  position: absolute;
  top: 50px;
  left: 50px;
  overflow: hidden;
  margin: 0 auto;
  width: 185px;
  height: 300px;
  border-radius: 50px/25px;
  background-color: rgba(160, 160, 160, 0.5);
}

.cylinder:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 185px;
  height: 50px;
  border-radius: 50px/25px;
  background-color: rgba(160, 160, 160, 0.2);
  content: "";
}

.cylinder:after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 185px;
  height: 50px;
  border-radius: 50px/25px;
  background-color: rgba(160, 160, 160, 0.4);
  content: "";
}

.water {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 185px;
  height: 0;
  padding-top: 50px;
  border-radius: 50px/25px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  transition: 0.3s linear;
}

.water:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 185px;
  height: 50px;
  border-radius: 50px/25px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  content: "";
}

.water:after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 185px;
  height: 50px;
  border-radius: 50px/25px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  content: "";
}

.water--0:checked ~ .cylinder .water {
  bottom: -50px;
}

.water--30:checked ~ .cylinder .water {
  height: calc(250px * 0.3);
}

.water--50:checked ~ .cylinder .water {
  height: calc(250px * 0.5);
}

.water--90:checked ~ .cylinder .water {
  height: calc(250px * 0.9);
}

.progress-bar-vertical {
  width: 120px;
  min-height: 300px;
  margin-right: 40px;
  float: left;
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
  align-items: flex-end;
  -webkit-align-items: flex-end; /* Safari 7.0+ */
}

.progress-bar-vertical .progress-bar {
  width: 100%;
  height: 0;
  -webkit-transition: height 0.6s ease;
  -o-transition: height 0.6s ease;
  transition: height 0.6s ease;
}

.good-status {
  background-color: #00df00;
}

.yellow-status {
  background-color: #f0ff00;
}

.warning-status {
  background-color: black;
}

.critical-status {
  background-color: black;
}
