<block-ui>
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      &nbsp;
      <div *ngFor="let device of devices">
        {{ device.device_id }}
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="modal.close('Save click')"
      >
        Done
      </button>
    </div>
  </ng-template>
  <div style="text-align: center; margin-top: 1%;">
    Choose a device:
    <select
      (change)="getInfo($event.target.value)"
      class="input-container"
      [(ngModel)]="selectedDevice"
    >
      <option *ngFor="let device of devices" [ngValue]="device.device_id"
        >{{ device.location }} &nbsp; {{ device.bin_name }}
      </option>
    </select>
  </div>
  <hr />
  <div class="col-sm-12 row">
    <div class="col-sm-2">
      <div style="text-align: center; font-weight: bold;">
        Silo Level
      </div>
      <div
        class="progress progress-bar-vertical"
        style="
          margin: auto 30%;
          background: rgba(179, 179, 179, 0.6);
          box-shadow: 2px 2px 2px #111;
        "
      >
        <div
          [class.yellow-status]="
            deviceData?.Fill_Status_Yellow != 0 &&
            deviceData?.Fill_Status_Yellow <=
              deviceData?.percent_motor_remaining
          "
          [class.warning-status]="
            deviceData?.Fill_Status_Red != 0 &&
            deviceData?.Fill_Status_Red <= deviceData?.percent_motor_remaining
          "
          [class.critical-status]="
            deviceData?.Fill_Status_Critical != 0 &&
            deviceData?.Fill_Status_Critical <=
              deviceData?.percent_motor_remaining
          "
          [ngClass]="'good-status'"
          class="progress-bar"
          role="progressbar"
          aria-valuenow="60"
          aria-valuemin="0"
          aria-valuemax="100"
          [ngStyle]="{
            height: deviceData?.percent_motor_remaining + '%',
            'background-color': yellow
          }"
        >
          <span
            style="
              top: 60px;
              width: 140px;
              position: absolute;
              font-size: 20px;
              font-weight: bold;
              text-align: center;
              text-shadow: 1px 1px 1px #fff;
              color: #111;
            "
            >{{
              deviceData?.percent_motor_remaining
                ? deviceData?.percent_motor_remaining
                : 0
            }}%</span
          >
        </div>
      </div>
      <!-- <img src="../../../assets/images/silo.jpg" />
      <div *ngIf="deviceData?.percent" class="cylinder">
        <div
          [ngStyle]="{
            height: percentage - 40 + 'px',
            'background-color': #f0ff00
          }"
          class="water"
        >
          <span
            [ngStyle]="{ color: waterColor == 'yellow' ? 'black' : 'white' }"
            style="top:20px;width: 185px;position:absolute;;font-weight:bold;text-align:center;"
            >{{ alertPercentage }} %</span
          >
        </div>
      </div> -->
    </div>
    <div class="col-sm-6">
      <div class="col-sm-15">
        <div style="text-align: center;">
          <h5 style="text-shadow: 1px 1px 1px #ccc;">System Runtime Values</h5>
        </div>
        <div
          class="card"
          style="
            font-size: 17px;
            font-weight: 500;
            background: #f1f1f1;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16),
              0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
          "
        >
          <div class="card-body col-sm-12 row" style="padding: 2% !important;">
            <div style="text-align: right;" class="col-sm-5">
              Last Start:
            </div>
            <div class="col-sm-5">
              {{ deviceData?.board_start_time | date: "dd-MMM-yyyy hh:mm:ss" }}
            </div>
            <div style="text-align: right;" class="col-sm-5">
              Cycle Start :
            </div>
            <div class="col-sm-5">
              {{
                deviceData?.start_of_cycle_date_time
                  | date: "dd-MMM-yyyy hh:mm:ss"
              }}
            </div>
            <div style="text-align: right;" class="col-sm-5">
              Check-In Timer:
            </div>
            <div class="col-sm-5">
              {{ deviceData?.check_in_timer }}
            </div>
            <div style="text-align: right;" class="col-sm-5">
              Cycles:
            </div>
            <div class="col-sm-5">
              {{ deviceData?.current_motor_cycles }}
            </div>

            <div style="text-align: right;" class="col-sm-5">
              Debug <i class="devicons devicons-database"></i>:
            </div>
            <div class="col-sm-5">
              {{ deviceData?.debug_data }}
            </div>
            <div style="text-align: right;" class="col-sm-5">
              Debug Mode:
            </div>
            <div class="col-sm-5">
              {{ deviceData?.debug_mode === 1 ? "True" : "" }}
              {{ deviceData?.debug_mode === 0 ? "False" : "" }}
            </div>

            <div style="text-align: right;" class="col-sm-5">
              Location:
            </div>
            <div class="col-sm-7">
              {{ deviceData?.location }} &nbsp; {{ deviceData?.bin_name }}
            </div>

            <!-- <div style="text-align: right" class="col-sm-5">
              Projected Start Date:
            </div>
            <div class="col-sm-7">
              {{ deviceData?.projectedStart }}
            </div> -->

            <!-- <div style="text-align: right" class="col-sm-5">
              Projected Run Out Span:
            </div>
            <div class="col-sm-7">
              {{ deviceData?.projected_run_out_span_int }}
            </div> -->

            <!-- <div style="text-align: right;" class="col-sm-5">
              Projected Run Out Time:
            </div>
            <div class="col-sm-7">
              {{
                deviceData?.projected_run_out_time_int
                  ? deviceData?.projected_run_out_time_int + " " + "days"
                  : ""
              }}
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="col-sm-14" style="margin-top: 5%;">
        <div
          style="text-align: left; font-weight: bold; font-size: 14px;"
          class="col-sm-5"
        >
          Raise a manual alert?
        </div>
        <textarea
          style="
            border-color: red;
            border-width: 4px;
            width: 100%;
            outline: none;
          "
          [(ngModel)]="manualAlert"
        >
        </textarea>
        <button
          class="btn btn-success"
          (click)="submitManualAlert()"
          style="margin-left: 80%;"
        >
          Submit
        </button>
      </div>
      <div
        class="card"
        style="
          background: #f1f1f1;
          margin-top: 7.5%;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16),
            0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
        "
      >
        <div class="card-body" style="max-height: 80vh; overflow-y: scroll;">
          <div class="sol-sm-12 row" style="font-weight: bolder; padding: 1%;">
            <!-- <div class="col-sm-5">
                Date/Time
              </div> -->
            <div class="col-sm-12">
              Alerts!
            </div>
            <div class="sol-sm-12 row" style="padding: 1%;">
              <table class="table table-hover">
                <tr *ngFor="let alert of alerts">
                  <td>
                    {{ alerts[0].message }}
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</block-ui>
<button
  style="display: hidden;"
  id="openAlertTmpl"
  (click)="open(content)"
></button>
