/* You can add global styles to this file, and also import other style files */
.input-container {
    position: relative;
    color: #78909C;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 20px;
    border-radius: 5px;
    
  }
  